.navbar-inverse{
    background-color: transparent !important;
    border:0;
}

.navbar_custom a {
    background-color:inherit !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: black !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: darkblue !important;
}

.navbar-nav > li > a {
    padding: 0 15px !important;
    font-size:14px !important;
}