<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-12">
        <div class="bodyinner">
          <h1>
            Shipping </h1>
          <h2><strong>Shipping Policies</strong></h2>

          <p>Shipping rates for all orders inside the contiguous 48 states are based on package dimensions, weight, and
            destination. All services may not be available in your area.</p>

          <p>&nbsp;</p>

          <p><strong>UPS Ground Service</strong></p>

          <p>&nbsp;</p>

          <p>Depending on your delivery address, UPS Ground service may be available. Shipping rates for this service
            are based on package dimensions, weight, and destination.</p>

          <p>&nbsp;</p>

          <p><strong>UPS 3 Day Select Upgrade</strong></p>

          <p>&nbsp;</p>

          <p>Your 3 Day Select rate will be determined during checkout based on package dimensions, weight, and
            destination.<br />
            <br />
            You may upgrade to UPS 3 Day Air Select, a guaranteed service. Your order will be delivered on the 3rd
            business day after the ship date. Air services are not available to PO boxes. Hazardous/flammable items are
            restricted from air shipping methods.</p>

          <p>&nbsp;</p>

          <p><strong>UPS 2nd Day Air Upgrade</strong></p>

          <p>&nbsp;</p>

          <p>Your 2nd Day Air rate is determined during checkout based on package dimensions, weight, and
            destination.<br />
            <br />
            You may upgrade UPS 2nd Day Air, a guaranteed service. Your order will be delivered on the 2nd business day
            after the ship date. Air services are not available to PO boxes. Hazardous/flammable items are restricted
            from air shipping methods.</p>

          <p>&nbsp;</p>

          <p><strong>UPS Next Day Air Upgrade</strong></p>

          <p>&nbsp;</p>

          <p>Your Next Day Air rate is determined during checkout based on package dimensions, weight, and
            destination.<br />
            <br />
            You may upgrade to UPS Next Day Air, a guaranteed service. Your order will be delivered on the 1st business
            day after the ship date. Next Day Air shipments release Monday through Friday. Friday shipments will arrive
            Monday. Air services are not available to PO boxes. Hazardous/flammable items are restricted from air
            shipping methods.</p>

          <p>&nbsp;</p>

          <p><strong>Oversized Items/Freight Shipments</strong></p>

          <p>&nbsp;</p>

          <p>Freight shipments deliver your order to your dock. White Glove service may also be available dependent upon
            the items and carrier. The charge varies based on distance, weight, bulk, and other factors. A physical
            address and phone number are required for delivery. Shipping costs include lift gate delivery if necessary.
            Additional charges for delivery to the door or inside the door will be included in the shipping cost if this
            option has been chosen.</p>

          <p>&nbsp;</p>

          <p><strong>Outside the 48 Contiguous States</strong></p>

          <p>&nbsp;</p>

          <p>All shipments to customers to HI, AK, and PR do not qualify for standard service fees. Shipping rates are
            determined during checkout based on package dimensions, weight, and destination. Additional fees may be
            incurred.</p>

          <p>&nbsp;</p>

          <p><strong>International Service</strong></p>

          <p>&nbsp;</p>

          <p>International shipping rates are determined during the checkout process based on package dimensions,
            weight, and destination. In some instances, a customer service representative may contact you after the
            order has been received by our system. Depending on your country, you may incur additional fees such as
            brokerage fees, taxes, and duties. Please check with your local government on the possible costs.</p>

          <p>&nbsp;</p>

          <p><strong>Drop Ship/Bulk Items</strong></p>

          <p>&nbsp;</p>

          <p>Drop ship items will be calculated based upon the dimensions of the item(s) as well as the cost from the
            carrier. The customer will need to call us (847-253-3000) to obtain the shipping quote before completing the
            order online. These items include but are not limited to; Beds, Carts, Stands, Drawers, etc.</p>
        </div>
        <!--bodycontent-->
        <p>&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
</div>

