<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-3">
        <div class="col-lg-12">
          <div class="list-group">
            <div class="container1">
              <form name="product_filter" id="product_filter" method="get"
                >
                <h2>Price</h2>
                <div>
                  <div class="prinput"> $
                    <input type="hidden" name="left_filter" value="left_filter">
                    <input type="text" name="from_price" id="from_price">
                    to $
                    <input type="text" name="to_price" id="to_price">
                    <input type="button" name="price_go" value="GO" onclick="submit_filter('from_to');">
                    <br />
                    <input type="checkbox" name="price" id="price05" value="0-5" onclick="submit_filter('price05');" />
                    <label for="price05">$0 - $5 </label>
                    <br />
                    <br />
                    <input type="checkbox" name="price" id="price510" value="5-10"
                      onclick="submit_filter('price510');" />
                    <label for="price510">$5 - $10 </label>
                    <br />
                    <br />
                    <input type="checkbox" name="price" id="price1020" value="10-20"
                      onclick="submit_filter('price1020');" />
                    <label for="price1020">$10 - $20 </label>
                    <br />
                    <br />
                    <input type="checkbox" name="price" id="price20100" value="20-100"
                      onclick="submit_filter('price20100');" />
                    <label for="price20100">$20 - $100 </label>
                    <br />
                    <br />
                    <input type="checkbox" name="price" id="price100" value="100+"
                      onclick="submit_filter('price100');" />
                    <label for="price100">$100+ </label>
                    <br />
                    <br />
                  </div>
                </div>

                <h2>Features</h2>
                <div>
                  <div class="prinput"><input type="checkbox" id="item_124" value="item_124"
                      onclick="getItem('2.23.124')">
                    <label>Shelves(3)</label>
                    <br /><br /></div>
                  </div>
                <h2>Function</h2>
                <!-- <p> -->
                  <div class="prinput"><input type="checkbox" id="item_149" value="item_149"
                      onclick="getItem('3.26.149')">
                    <label>Computer(4)</label>
                    <br /><br /></div>
                <!-- </p> -->
                <h2>Material</h2>
                <!-- <p> -->
                  <div class="prinput"><input type="checkbox" id="item_259" value="item_259"
                      onclick="getItem('4.37.259')">
                    <label>Aluminum(2)</label>
                    <br /><br /></div>
                <!-- </p> -->
                <h2>Stands</h2>
                <!-- <p> -->
                  <div class="prinput"><input type="checkbox" id="item_325" value="item_325"
                      onclick="getItem('5.47.325')">
                    <label>5 Wheel Base(1)</label>
                    <br /><br /></div>
                <!-- </p> -->
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="col-lg-12" id="refine"
          style="border-bottom: 2px solid #CCC; padding-bottom: 15.5px; margin-bottom: 5px; margin-top:-5px">
          <div class="refine">&nbsp;&nbsp;&nbsp;Refine</div>
          <div id="flip">Price</div>
          <div id="panel">$
            <input type="text" name="top_from_price" id="top_from_price" />
            to $
            <input type="text" name="top_to_price" id="top_to_price" />
            <input type="submit" name="price_go" value="GO" onclick="submit_filter('top_from_to');">
          </div>
          <div id="flip2" style="display: none;">Top Brands</div>
          <div id="panel2">
            <input type="checkbox" name="manufacture" class="manufacture" id="manufacture1"
              onclick="submit_manufacture('1');" />
            <label for="manufacture1">
              Dynarex </label>
            <br />
            <input type="checkbox" name="manufacture" class="manufacture" id="manufacture2"
              onclick="submit_manufacture('2');" />
            <label for="manufacture2">
              Clean Safety </label>
            <br />
            <input type="checkbox" name="manufacture" class="manufacture" id="manufacture3"
              onclick="submit_manufacture('3');" />
            <label for="manufacture3">
              Kimberly-Clark </label>
            <br />
            <input type="checkbox" name="manufacture" class="manufacture" id="manufacture4"
              onclick="submit_manufacture('4');" />
            <label for="manufacture4">
              Ansell </label>
            <br />
            <input type="checkbox" name="manufacture" class="manufacture" id="manufacture5"
              onclick="submit_manufacture('5');" />
            <label for="manufacture5">
              Cardinal Health </label>
            <br />
            <input type="checkbox" name="manufacture" class="manufacture" id="manufacture6"
              onclick="submit_manufacture('6');" />
            <label for="manufacture6">
              Innovative Healthcare </label>
            <br />
            <input type="checkbox" name="manufacture" class="manufacture" id="manufacture7"
              onclick="submit_manufacture('7');" />
            <label for="manufacture7">
              DJ Orthopedics </label>
            <br />
          </div>
          <div class="btn-group" style="float: right; width: 270px;">
            <div id="flip3" style="margin-right: 5%; width: 140px; background-position-x: 29px;">
              Sort </div>
            <div id="panel3">
              <!--<input type="checkbox" name="best_match" id="best_seller" onclick="submit_match('best_seller');"  />
                  <label for="best_seller">Best sellers</label> <br />-->
              <input type="checkbox" name="best_match" id="low_to_high" onclick="submit_match('low_to_high');" />
              <label for="low_to_high">Price: low to high</label>
              <br />
              <input type="checkbox" name="best_match" id="high_to_low" onclick="submit_match('high_to_low');" />
              <label for="high_to_low">Price: high to low</label>
              <br />
            </div>
            <a id="grid" class="btn btn-default btn-sm " (click)="submitFilter('true')"
              style="border-right: 1px solid #ccc;"><span class="glyphicon glyphicon-th"></span>
            </a> 
            <a id="list"
              class="btn btn-default btn-sm active" (click)="submitFilter('false')"><span
                class="glyphicon glyphicon-align-justify"> </span>
              </a>
          </div>
        </div>
        <div class="produtcover">
          <p style="font-weight:bold;">Selected Category: <span class="p-blue">Carts &raquo; Computer Carts</span></p>
          <div class="col-lg-12">
          </div>
          <ng-container *ngFor="let product of products; let gridNum = index">
            <div class="col-lg-12 inner-prod bor-bot" *ngIf="!grid">
              <div class="col-lg-4" style="text-align: center;">
                <a 
                  class="cp"
                  [routerLink]="['/product-details', product.product_id]">
                  <img
                    [src]="'assets/images/product/' + product.product_image" class="img-responsive" /></a></div>
              <div class="col-lg-8 inner-prod">
                <p class="fi20"><a class="cp"
                  [routerLink]="['/product-details', product.product_id]"
                    >{{product.product_title}}</a></p>
                <br />
                <p class="pr">Price:
                  <label class=''>${{formatPrice(product.product_price)}}</label> 
                  <ng-container *ngIf="product.product_dropship == 1">
                      <span *ngIf="product.product_freeship == 1">(Free shipping)</span>
                      <span *ngIf="product.product_freeship != 1">(Call for shipping)</span>
                  </ng-container>
                </p>
                <br />
                <p class="pr">Item Number: {{product.product_item_no}}</p>
                <br />
                <div class="q-box" id="q-box">
                  <!-- <p> -->

                    <!-- Add to Cart -->
                    <form 
                      method="post"
                      [id]="'form_' + product.product_id">
                      <input type="text" name="qty_cart" id="qty_cart" value="1" class="qty" style="display:none" />
                      <input type="hidden" name="product_id" [value]="product.product_id" />
                      <input type="hidden" name="cquantity" id="cquantity" value="1" />
                      <input type="hidden" name="unit_id" id="unit_id" [value]="product.unit_id" />
                    </form>

                    <!-- Add to Quote -->
                    <form 
                    method="post"
                      [id]="'form_quote_' + product.product_id">
                      <input type="text" name="quantity" id="qty_quote" value="1" class="qty" style="display:none" />
                      <input type="hidden" name="product_id" [value]="product.product_id" />
                      <input type="hidden" name="unit_id_q" id="unit_id_q" [value]="product.unit_id" />
                    </form>

                    <!-- Add to Whishlist -->
                    <form 
                      method="post" [id]="'form_wish_' + product.product_id">
                      <input type="hidden" name="product_id" [value]="product.product_id" />
                      <input type="hidden" name="unit_id_f" id="unit_id_f" [value]="product.unit_id" />
                    </form>
                    <ng-container *ngIf="product.product_out_of_stock == 0; stockNotExist">
                      <a>
                        <p class="add_cart"></p>
                      </a>
                      &nbsp; &nbsp; <a>
                        <p class="add_quote"></p>
                      </a> &nbsp; &nbsp; <a data-toggle="modal" data-target="#myWishList">
                        <p class="add_wishlist" style="margin-left:3px"></p>
                      </a>
                    </ng-container>
                    <ng-template #stockNotExist>
                      <p class="out_of_stock"></p>
                    </ng-template>
                    
                    
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="grid"
              style="margin: 10px 5px; text-align: center; width: 23.5%; min-height: 520px;"> 
              <a
                class="cp"
                [routerLink]="['/product-details', product.product_id]"
                [title]="product.product_title"> 
                <img
                  [src]="'assets/images/product/' + product.product_image" style="width:220px; height:186px"
                  class="img-responsive" /> </a><br>
              <div class="col-lg-12 inner-prod">
                <p class="fi20" style="height: 70px;"><a
                    [routerLink]="['/product-details', product.product_id]">
                    {{ product.product_title }}</a></p>
                <br />
                <p class="pr">Price: <label class=''>${{formatPrice(product.product_price)}}</label></p>
                <br />
                <p class="pr">Item Number: {{product.product_item_no}}</p>
                <br />
                <div class="q-box" id="q-box">
                  <!-- <p> -->
                
                  <!-- Add to Cart -->
                  <form method="post" [id]="'form_' + product.product_id">
                    <input type="text" name="qty_cart" id="qty_cart" value="1" class="qty" style="display:none" />
                    <input type="hidden" name="product_id" [value]="product.product_id" />
                    <input type="hidden" name="cquantity" id="cquantity" value="1" />
                    <input type="hidden" name="unit_id" id="unit_id" [value]="product.unit_id" />
                  </form>
                
                  <!-- Add to Quote -->
                  <form method="post" [id]="'form_quote_' + product.product_id">
                    <input type="text" name="quantity" id="qty_quote" value="1" class="qty" style="display:none" />
                    <input type="hidden" name="product_id" [value]="product.product_id" />
                    <input type="hidden" name="unit_id_q" id="unit_id_q" [value]="product.unit_id" />
                  </form>
                
                  <!-- Add to Whishlist -->
                  <form method="post" [id]="'form_wish_' + product.product_id">
                    <input type="hidden" name="product_id" [value]="product.product_id" />
                    <input type="hidden" name="unit_id_f" id="unit_id_f" [value]="product.unit_id" />
                  </form>
                  <ng-container *ngIf="product.product_out_of_stock == 0; stockNotExist">
                    <a>
                      <p class="add_cart"></p>
                    </a>
                    &nbsp; &nbsp; <a>
                      <p class="add_quote"></p>
                    </a> &nbsp; &nbsp; <a data-toggle="modal" data-target="#myWishList">
                      <p class="add_wishlist" style="margin-left:3px"></p>
                    </a>
                  </ng-container>
                  <ng-template #stockNotExist>
                    <p class="out_of_stock"></p>
                  </ng-template>
                
                
                  <!-- </p> -->
                </div>
              </div>
            </div>
            <div 
              *ngIf="(gridNum + 1) % 4 == 0"
              class="col-lg-12" 
              style="border-bottom: 1px solid #CCC">
            </div>

          </ng-container>
          <div class="aaa"></div>
        </div>
      </div>
    </div>
  </div>
</div>
