<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-12">
        <div class="bodyinner">
          <h1>
            About Us </h1>
          <p>About us &ndash; Medical Shipment | Nursing training supplies</p>

          <p><span style="font-size:16px"><span style="color:rgb(101, 101, 101); font-family:arial">Medical Shipment is
                a premium supplier of simulation nursing supplies and equipment. We strive to provide extraordinary
                customer service and value our personal relationships with each customer. Our goal is to ensure your
                complete satisfaction with each order. We carry an extensive range of products and services that will
                fit the needs of all educational programs. We look forward to building new, long-lasting relationships
                with each educator.</span></span></p>

        </div>
        <!--bodycontent-->
        <p>&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
</div>
