<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-12">
        <div class="bodyinner">
          <h1 class="h1">Contact us</h1>
          <p>&nbsp;</p>
          <p> Please contact <b>Medical Shipment</b> if you have any questions or concerns. </p>
          <p>&nbsp;</p>
          <p> Medical Shipment LLC,<br />
            8060 Saint Louis Avenue,<br />
            Skokie, IL 60076<br />
          </p>
          <p>&nbsp;</p>
          <p> <b>Phone:</b> 1-847-253-3000<br>
            <b>Fax:</b> 1-847-506-0524 </p>
          <p>&nbsp;</p>
          <p><span class="ul">We like your feedback:</span></p>
          <p>&nbsp;</p>
          <p>Do you have questions, concerns, or suggestions? Please send it to an Medical Shipment.</p>
          <form name="dealerInquiry" id="myform" action="index.php?controller=contact&function=sent" method="post"
            onsubmit="return submitUserForm();">
            <input type="hidden" name="catalogform" value="1">
            <table width="100%" border="0" cellpadding="0" cellspacing="10px" style="border-spacing:10px;">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td style="margin-left:-89px;" width="584"><input type="text" name="name" id="name" maxlength="128"
                      class="inqury_ipput validate[required]" data-errormessage-value-missing="What's your name"
                      value="" placeholder="Full Name"></td>
                </tr>
                <tr>
                  <td style="margin-left:-89px;" width="584"><input type="email" name="email" id="email" maxlength="128"
                      class="inqury_ipput validate[required]" data-errormessage-value-missing="What's your email"
                      value="" placeholder="Email"></td>
                </tr>
                <tr>
                  <td style="margin-left:-89px;" width="584"><input type="text" name="phone" id="phone" maxlength="128"
                      class="inqury_ipput validate[required]" data-errormessage-value-missing="Your phone number?"
                      value="" placeholder="Contact Phone Number"></td>
                </tr>
                <tr>
                  <td style="margin-left:-89px;" width="584"><input type="text" name="message" id="message"
                      maxlength="128" class="inqury_ipput validate[required]"
                      data-errormessage-value-missing="Your Message" value="" placeholder="Message"></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <table width="100%" id="why_not" style="display:none;" align="center">
                      <tbody>
                        <tr>
                          <td style="margin-left:-89px;" width="584"><input type="text" name="other" id="other"
                              maxlength="128" class="inqury_ipput validate[required]" value="Other"
                              onkeydown="if(this.value=='Other' &amp;&amp; event.keyCode!=16 &amp;&amp; event.keyCode!=17 &amp;&amp; event.keyCode!=18)  { this.value=''; change_thing('other');}"
                              onblur="if(this.value==''){this.value='Other'}"
                              onfocus="if(this.value=='Other'){resetCursor(other)}"
                              onclick="if(this.value=='Other'){resetCursor(other)}" autocomplete="off"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div id="g-recaptcha-error"></div>
                    <div class="g-recaptcha" data-sitekey="6Ld6WJUUAAAAAMxna7-BgaManNWta1SYl2pQYQzC"></div>

                  </td>
                </tr>
                <tr>
                  <td style="margin-left:-249px;" width="584"><button type="submit" class="signin_btn"
                      value="Submit">Submit</button></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <p>&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
</div>