<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-12">
        <div class="bodyinner">
          <h1>
            Term & Conditions </h1>
          <h2>Term and conditions</h2>

          <p>ALL PRODUCTS SOLD BY MEDICAL SHIPMENT ARE INTENDED FOR EDUCATIONAL USE ONLY.</p>

          <p>&nbsp;</p>

          <p>PURCHASER ACCOUNT: By opening an account on the web site, you (Purchaser) agree to assume responsibility
            for all activities that occur under your account or password, and agree not to sell, transfer or assign your
            account or any account rights. Purchaser is responsible for maintaining the confidentiality of
            Purchaser&#39;s user name and password and for restricting access to Purchaser&#39;s computer so others
            outside Purchaser&#39;s control may not access the web site using your login information without
            Purchaser&#39;s permission. If Purchaser believes someone has accessed the web site using Purchaser&#39;s
            user name and password without your authorization, Purchaser agrees to e-mail Medical Shipment, LLC,
            (&quot;Medical Shipment&quot;) immediately at: info@medicalshipment.com. Purchaser agrees to pay all fees
            and any other charges incurred under Purchaser&#39;s user name and password (including any applicable taxes)
            at the rates in effect when the charges were incurred. All fees will be billed at the time Purchaser orders
            (or as soon thereafter as fees or charges are incurred) and are nonrefundable. Purchaser is responsible for
            all fees and charges incurred to access the web site through an Internet access provider or other third
            party service. Purchaser agrees that Medical Shipment may terminate Purchaser&#39;s account if it remains
            inactive for a period of one (1) year or more.</p>

          <p>&nbsp;</p>

          <p>PRODUCTS:&nbsp;By purchasing products through Medical Shipment (&quot;Products&quot;), Purchaser agrees to
            the following terms and conditions pertaining to the use of the Products: Medical Shipment Products are sold
            for educational purposes only and are not intended for human or animal use. Purchaser further agrees that
            Purchaser will use the Products for their intended educational purposes only, in a safe and legal manner
            consistent with all applicable laws and Purchaser&#39;s own internal health and safety policies. Purchaser
            acknowledges that to use them otherwise is outside the scope and purpose for which they are intended.
            Medical Shipment makes every reasonable effort to display accurate product information. However, due to
            manufacturing conditions outside of its control, product colors, specifications and warranties are subject
            to change by the manufacturer without notice. Actual product color may differ from catalog product color.
            Medical Shipment is not responsible for typographical or pictorial errors. Prices are subject to change
            without notice. While Medical Shipment uses reasonable efforts to include accurate and up-to-date
            information, we make no warranties or representations as to the accuracy of the data or information
            available on this web site and assume no liability or responsibility for any error or omission in such data
            or information. By ordering Products on this web site, Purchaser waives, releases and forever discharges,
            and hereby agrees to protect, defend, indemnify and hold harmless, Medical Shipment, its employees, agents,
            officers, directors, shareholders and affiliates (the &quot;Released and Indemnified Parties&quot;), from
            and against any and all liability, claim, loss, cost, damage and expense arising directly or indirectly out
            of or relating in any way to the use, possession, maintenance, operation or storage of the Products, even if
            that liability, claim, loss, cost, damage or expense is based on or claimed to be based on the negligent
            acts or omissions of any of the Released and Indemnified Parties or any other party or parties.</p>

          <p>&nbsp;</p>

          <p>DISCLAIMER: THERE ARE NO WARRANTIES GIVEN BY MEDICAL SHIPMENT AS IT IS A DISTRIBUTOR, AND NOT A
            MANUFACTURER OF THE PRODUCTS. NO WARRANTIES EXIST OR EXTEND BEYOND THOSE PROVIDED BY THE MANUFACTURER OF
            SUCH PRODUCT, IF ANY. BUYER REPRESENTS AND ACKNOWLEDGES THAT PRODUCTS ARE BEING PURCHASED FOR EDUCATIONAL
            PURPOSES AND NOT FOR PERSONAL, FAMILY, ANIMAL, BUSINESS, TREATMENT OR HOUSEHOLD USE. MEDICAL SHIPMENT MAKES
            NO GUARANTY, REPRESENTATION OR WARRANTY, EXPRESS OR IMPLIED OF MERCHANTABILITY, FITNESS FOR ANY PARTICULAR
            PURPOSE, OR OTHERWISE. CONSENT TO E-MAIL COMMUNICATIONS. From time to time, Medical Shipment will send you
            e-mail announcements or correspondence on new features, products and services offered by the company,
            selected advertisers, affiliates, and related companies. By establishing an account on this web site, you
            expressly consent and opt-in to receiving e-mail from Medical Shipment.</p>

          <p>TERMS OF PAYMENT: All orders must be paid in U.S. dollar equivalents, Prices are subject to change without
            notice. Payment is accepted by Visa, MasterCard or American Express; Checks made Payable to Medical
            Shipment. All checks with orders will be held until check clearance. Any held or returned checks will incur
            a $40 charge.</p>

          <p>&nbsp;</p>

          <p>ACCOUNT ORDERS: 30 days net for schools purchasing products online, a 1% service charge will be added to
            past due accounts (compounded every 30 days). Products shipped F.O.B. shipping point meaning that the risk
            of loss and title for such items pass to Purchaser upon delivery to the common carrier.</p>

          <p>&nbsp;</p>

          <p>ORDER CHANGES: Processed orders are not able to be changed online. Please contact Medical Shipment as soon
            as possible to inquire about any pending orders.</p>

          <p>&nbsp;</p>

          <p>BACKORDER ITEMS: All backordered products will ship immediately upon receipt from the supplier. Medical
            Shipment will attempt to notify you if the status of your order extends past 30 days with the option to
            cancel or modify your backordered item(s).</p>

          <p>&nbsp;</p>

          <p>SALES TAX: All businesses and individuals domiciled in Illinois will be charged sales tax unless the order
            is accompanied by a copy of a current tax-exemption certificate. Non-Illinois Purchasers should refer to
            your specific State&#39;s Use Tax Code. If you have a sales tax exemption, please contact Medical Shipment
            with your number.</p>

          <p>&nbsp;</p>

          <p>PRODUCT SPECIFICATIONS: Medical Shipment reserves the right to change product specifications on all generic
            items without notice.</p>

          <p>&nbsp;</p>

          <p>DISCOUNTS/PROMOTIONS: Medical Shipment reserves the right to deny discounts/promotional price deductions
            for&nbsp;the following merchandise, unless stated otherwise: carts, hospital beds, pumps, training
            headwalls, and pyxis.</p>

          <p>&nbsp;</p>

          <p>DAMAGED SHIPMENTS: Any visible damage, however slight should be notated on the freight bill at time of
            delivery. No notation on the freight bill states you received the merchandise in good condition. If visible
            damage is noted, you may request the driver to do an immediate inspection. Please refer to the packing slip
            enclosed with your order for additional information. Please report all missing merchandise to Medical
            Shipment within 5 days of the invoice date.</p>

          <p>&nbsp;</p>

          <p>RETURNS: Under certain limited circumstances, Medical Shipment may refund the purchase price or a portion
            of the purchase price for Products purchased from this web site if requested within 10 days. A return
            authorization number must accompany all returns. Should you need to make a return, please contact Medical
            Shipment within 10 days of receiving the product. Merchandise must be returned within 30 days of the return
            number issuance. Merchandise should be securely wrapped and returned in the original packaging with the
            return number visible on the outside of the package. Returned merchandise will not be accepted after 30 days
            of the return authorization issuance date and will be returned to the Purchaser. There is a 25% restocking
            fee on all returned goods. Any defective product that is returned during a warranty period will be repaired
            or replaced with authorization and prepaid freight.</p>

          <p>&nbsp;</p>

          <p>NON-RETURNABLE MERCHANDISE: The following merchandise is not returnable: special order items, discontinued
            items, carts, hospital beds, nursing kits, student kits,&nbsp;sanitary products, electronic media,
            disposable merchandise, PYXIS, and used equipment.</p>

          <p>&nbsp;</p>

          <p>CANCELLATIONS: Cancellations must be typed with signed authorization from Medical Shipment.</p>

          <p>&nbsp;</p>

          <p>GOVERNING LAW/VENUE. These Terms and Conditions will be governed by and construed in accordance with the
            laws of the State of Illinois, without regard to its conflicts of law provisions. Any claim or controversy
            arising out of or relating to these terms and conditions, to the Products provided by us, or to any acts or
            omissions for which you may contend we are liable in connection with these terms and conditions, including
            but not limited to any claim or controversy made by a Purchaser, shall be litigated in courts located in
            DuPage County, Illinois, to the exclusion of all other venues. In any such action, both parties waive their
            right to a jury trial and agree that the prevailing party in any such action shall be entitled to recover
            court costs and attorneys&nbsp;fees from the non-prevailing party. YOU AGREE THAT ANY CLAIM, CONTRIOVERSY,
            OR DISPUTE WITH MEDICAL SHIPMENT OR ITS RELATED COMPANIES MUST BE BROUGHT WITHIN ONE (1) YEAR OF WHEN THE
            CLAIM, CONTROVERSY, OR DISPUTE AROSE OR FIRST ACCRUED, OR SUCH CLAIM, CONTROVERSY, OR DISPUTE WILL BE
            FOREVER BARRED.</p>

        </div>
        <!--bodycontent-->
        <p>&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
</div>
