<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-12">
        <div class="col-lg-12">
          <div class="col-lg-12 pad-left">
            <div class="cart">
              <h1 class="h1">Shopping Cart</h1>
              <form action="https://www.medicalshipment.com/index.php?controller=cart&function=update" method="post"
                id="form_update">
                <table id="shopping-cart-table" class="data-table cart-table">
                  <thead>
                    <tr class="carttop">
                      <th><input type="checkbox" name="selectAll" id="selectAll" title="Select All" /></th>
                      <th class="pro-img"><span class="nobr">Image</span></th>
                      <th><span class="nobr">Product Name</span></th>
                      <th><span class="nobr">Move to Wishlist</span></th>
                      <th><span class="nobr">Unit Price</span></th>
                      <th class="qty_height"><span class="nobr">Qty</span></th>
                      <th><span class="nobr">Subtotal</span></th>
                      <th><span class="nobr">Remove</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="first odd" *ngFor="let cartData of cartAddedData; let i=index">
                      <td>
                        <input type="checkbox" [name]="'quoteProduct'+cartData[i].product_id" class="quoteProduct" [id]="'quoteProduct'+cartData[i].product_id"
                          [value]="cartData[i].product_id" (click)="quoteProduct(cartData[i].product_id);" />
                      </td>
                      <td>
                        <a>
                          <img
                            [src]="'assets/images/product/'+cartData[i].product_image"
                            alt="B Braun Ecoflac Plus Intravenous IV Solution, 0.9% Sodium Chloride, 500 mL, 1/each"
                            class="img-responsive" width="100" height="100"> </a></td>
                      <td>
                        <a>
                          {{ cartData[i].product_title }}  
                        </a>
                      </td>
                      <td>
                        <a>Move</a>
                      </td>
                      <td><span class="price">${{cartData[i].product_price}}</span></td>
                      <td>
                        <div class="form-group form-group-options">
                          <div id="1" class="input-group input-group-option quantity-wrapper"> 
                            <span
                              class="input-group-addon input-group-addon-remove quantity-remove btn" 
                              id="minus_cart"> 
                              <span class="glyphicon glyphicon-minus"></span> </span>
                            <input 
                              [id]="'1inp'+cartData[i].product_id" type="text" 
                              [value]="cartData[i].product_quantity"
                              [name]="'qnty_'+cartData[i].product_id" 
                              class="form-control quantity-count" style="margin:0;">
                            <span class="input-group-addon input-group-addon-remove quantity-add btn" 
                              id="plus_cart"> <span class="glyphicon glyphicon-plus"></span></span>
                          </div>
                          <a style="display: none; position: absolute; margin-left: 33px;" 
                            [id]="'update_'+cartData[i].product_id">Update</a> 
                            <span
                              style="display: none; color:#F00; position: absolute; margin-left: 33px;"
                              [id]="'save_'+cartData[i].product_id">Saved</span>
                        </div>
                      </td>
                      <td>
                        <span class="price" 
                          id="'price_'+cartData[i].product_id">
                          ${{ cartData[i].product_total }} </span></td>
                      <td>
                        <a
                          title="Remove Item" 
                          class="btn-remove btn-remove2">Remove Item
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>

              <form action="https://www.medicalshipment.com/index.php?controller=favorites&function=index" method="post"
                id="form_whish_3500">
                <input type="hidden" name="product_id" value="3500" />
                <input type="hidden" name="unit_id_f" id="unit_id_f" value="7" />

              </form>
              <div class="carttop-bottom">
                <div class="row">
                  <div class="col-lg-2"> <a href="javascript:history.go(-1);">
                      <button type="button" title="Continue Shopping" class="button btncart add_cart"><span>Continue
                          Shopping</span></button>
                    </a> </div>
                  <div class="col-lg-2">
                    <form action="https://www.medicalshipment.com/index.php?controller=quote&function=index"
                      method="post" name="copy_to_quotation" id="copy_to_quotation">
                      <input type="hidden" name="copy_quote" value="" />
                      <input type="checkbox" name="quote1Product3500" class="quote1Product" id="quote1Product3500"
                        value="3500" style="display: none;" /> <button type="button" title="Copy to Quotation"
                        class="button btncart add_cart" onclick="copy_to_quotation_submit();"><span>Copy to
                          Quotation</span></button>
                    </form>
                  </div>
                  <div class="col-lg-2"> <a
                      href="https://www.medicalshipment.com/index.php?controller=cart&function=removeAll">
                      <button type="button" name="update_cart_action" value="empty_cart" title="Clear Shopping Cart"
                        class="button btn-empty btncart add_cart" id="empty_cart_button"><span>Clear Shopping
                          Cart</span></button>
                    </a> </div>
                  <div class="col-lg-2">
                    <button type="submit" onclick="updateCart()" name="update_cart_action" value="update_qty"
                      title="Update Shopping Cart" class="button btn-update btncart add_cart"><span>Update Shopping
                        Cart</span></button>
                  </div>
                </div>
              </div>
              <div class="cart-collaterals">
                <div class="totals"
                  style="float:right;background-color:#F9F9F9; border:1px solid #DBDBDB; margin:15px 0; padding:15px;">
                  <table id="shopping-cart-totals-table">
                    <colgroup>
                      <col>
                      <col width="1">
                    </colgroup>
                  
                    <!--<tfoot>
                  
                                        <tr class="cartbotborder" >
                  
                                          <td style="" class="a-right" colspan="1"><strong>Shipping</strong></td>
                  
                                          <td style="" class="a-right" id="sveUkupno"><strong><span class="price">TBD</span></strong></td>
                  
                                        </tr>
                  
                                      </tfoot>-->
                  
                    <tbody>
                      <tr class="cartbotborder">
                        <td style="" class="a-right" colspan="1"> Subtotal </td>
                        <td style="" class="a-right" id="sveUkupno_sub"><span class="price" id="subtotal">${{ getSubTotal() }}</span></td>
                      </tr>
                      <!--<tr class="cartbotborder">
                                          <td style="" class="a-right" colspan="1"> Grand Total </td>
                                          <td style="" class="a-right" id="sveUkupno_sub"><span class="price" id="gtotal">$3.99</span></td>
                                        </tr>-->
                    </tbody>
                  </table>
                  <form method="post" id="form_pm"
                    name="form_pm">
                    <div class="clear"></div>
                    <div class="subtotal">
                      <input type="hidden" class="continput" name="coupon" placeholder="Enter Coupon Code">
                  
                      <!--<input class="checkout" value="Enter Coupon" type="button" style="width:130px;border-radius:0 3px 3px 0;margin-top:20px;height:32px;background-image:none;background-color:#009900">-->
                  
                    </div>
                    <div class="clear"></div>
                    <ul class="checkout-types">
                      <li style="text-align:center;">
                        <div id="button_change">
                          <button 
                              [routerLink]="['/shiping-payment']"
                              type="submit" 
                              class="button2 btn-proceed-checkout btn-checkout2 btncart add_cart" title=""><span
                              style="display: inline-table;"><span style="margin-right:0px !important;color:#FFF">Proceed to
                                Checkout</span></span></button>
                        </div>
                      </li>
                      <li style="text-align:center;">
                        <div id="button_change"> <a title=""></a> </div>
                      </li>
                    </ul>
                  </form>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="clear"></div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
