<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-10" style="float:none; margin:0 auto;">
        <div class="bodyinner">
          <h1>News</h1>
          <div id="news-article-grid">
            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=14"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/753293522_5bf2b609e0754_283585582_1542632969.png"
                    width="554" height="316" alt="Medical Shipment Expands Select Supply Services to Serbia"
                    title="Medical Shipment Expands Select Supply Services to Serbia"> </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">11.19.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=14">
                  <h2 class="news-article-title">Medical Shipment Expands Select Supply Services to Serbia.</h2>
                </a>
                <div class="news-article-description">
                  <p>CHICAGO,&nbsp;Nov. 12, 2018&nbsp;/PRNewswire/ -- Leading medical supplier, Medical Shipment LLC,
                    <br><a href="index.php?controller=news&function=details&id=14">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=13"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/274403949_5b644461d09a9_210357905_1533297761.png"
                    width="554" height="316" alt="Q & A with Dan Micic, CEO and Founder of Medical Shipment LLC"
                    title="Q & A with Dan Micic, CEO and Founder of Medical Shipment LLC"> </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">08.03.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=13">
                  <h2 class="news-article-title">Q & A with Dan Micic, CEO and Founder of Medical Shipment LLC.</h2>
                </a>
                <div class="news-article-description">
                  <p><strong>About Dan Micic</strong></p>
                  <p>In 2007, Micic founded <a href="http://www.medicalshipme<br><a href="
                      index.php?controller=news&function=details&id=13">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=12"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/197948361_5b105764b6288_273743239_1527797604.jpg"
                    width="554" height="316" alt="Aphasia Awareness Month" title="Aphasia Awareness Month"> </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">05.31.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=12">
                  <h2 class="news-article-title">Aphasia Awareness Month.</h2>
                </a>
                <div class="news-article-description">
                  <p>Cardiovascular Accidents (CVAs), known more commonly as strokes, are the leading cause of
                    disabil<br><a href="index.php?controller=news&function=details&id=12">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=11"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/252144773_5b0550b18e22e_346451323_1527074993.png"
                    width="554" height="316"
                    alt="Proof of Concept: Virtual Reality Simulation of a Pyxis Machine for Medication Administration"
                    title="Proof of Concept: Virtual Reality Simulation of a Pyxis Machine for Medication Administration">
                </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">05.23.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=11">
                  <h2 class="news-article-title">Proof of Concept: Virtual Reality Simulation of a Pyxis Machine for
                    Medication Administration.</h2>
                </a>
                <div class="news-article-description">
                  <h3><span style="font-size:22px"><strong>Abstract</strong></span></h3>

                  <p><a href=" index.php?controller=news&function=details&id=11">Read
                      More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=8"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/243106524_5ae885d7903a1_870274674_1525188055.jpg"
                    width="554" height="316" alt="What You Need to Know About Osteoporosis"
                    title="What You Need to Know About Osteoporosis"> </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">05.01.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=8">
                  <h2 class="news-article-title">What You Need to Know About Osteoporosis.</h2>
                </a>
                <div class="news-article-description">
                  <p>May is National Osteoporosis Month and the perfect time to brush up on your knowledge about this
                    <br><a href="index.php?controller=news&function=details&id=8">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=7"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/596520791_5ad9d60ca78b6_633800461_1524225548.png"
                    width="554" height="316"
                    alt="Medical Shipment Now Also Distributes Latest Pyxis MedStation ES System for High-Realism Educational Learning"
                    title="Medical Shipment Now Also Distributes Latest Pyxis MedStation ES System for High-Realism Educational Learning">
                </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">04.20.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=7">
                  <h2 class="news-article-title">Medical Shipment Now Also Distributes Latest Pyxis MedStation ES System
                    for High-Realism Educational Learning.</h2>
                </a>
                <div class="news-article-description">
                  <p>Medical Shipment is now also the sole educational distributor for the latest Pyxis MedStation ES
                    <br><a href="index.php?controller=news&function=details&id=7">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=6"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/418114791_5accf36953e72_472370347_1523381097.jpg"
                    width="554" height="316" alt="Infant Immunization Week" title="Infant Immunization Week"> </a>
              </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">04.09.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=6">
                  <h2 class="news-article-title">Infant Immunization Week.</h2>
                </a>
                <div class="news-article-description">
                  <p>In 1994, community health organizations and leaders joined together to celebrate and highlight
                    th<br><a href="index.php?controller=news&function=details&id=6">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=5"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/562565345_5ac2a64cef01a_40647109_1522705996.jpg"
                    width="554" height="316" alt="What We Can Learn (and Teach) About This Year’s Influenza Season"
                    title="What We Can Learn (and Teach) About This Year’s Influenza Season"> </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">04.02.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=5">
                  <h2 class="news-article-title">What We Can Learn (and Teach) About This Year’s Influenza Season.</h2>
                </a>
                <div class="news-article-description">
                  <p>While the latest reports are showing that this year&rsquo;s influenza season has finally peaked,
                    <br><a href="index.php?controller=news&function=details&id=5">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=4"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/466929333_5ac2a57e46ee7_616452928_1522705790.png"
                    width="554" height="316" alt="Kidney Awareness Month" title="Kidney Awareness Month"> </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">04.02.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=4">
                  <h2 class="news-article-title">Kidney Awareness Month.</h2>
                </a>
                <div class="news-article-description">
                  <p>March is Kidney Awareness Month, and you can celebrate by keeping kidneys at the forefront of
                    you<br><a href="index.php?controller=news&function=details&id=4">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=3"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/909331899_5a81eab626690_265617635_1518463670.jpg"
                    width="554" height="316" alt="The Flu and Your Students" title="The Flu and Your Students"> </a>
              </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">02.12.2018</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=3">
                  <h2 class="news-article-title">The Flu and Your Students.</h2>
                </a>
                <div class="news-article-description">
                  <p>This year&rsquo;s influenza season has been especially dangerous. According to the <a
                      href="https<br><a href=" index.php?controller=news&function=details&id=3">Read More...</a>
                </div>
              </div>
            </div>

            <div class="news-article light-weight filterable">
              <div class="news-article-thumb"> <a
                  href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=2"> <img
                    class="scalableImg"
                    src="https://www.medicalshipment.com/admin/images/document/605364485_5a441d41be8af_466375861_1514413377.jpg"
                    width="554" height="316" alt="The Powdered Glove Ban: One Year Later"
                    title="The Powdered Glove Ban: One Year Later"> </a> </div>
              <div class="news-article-teaser-content">
                <h5 class="news-article-date left">12.27.2017</h5>
                <div class="clear"></div>
                <div class="separator-line"></div>
                <a href="https://www.medicalshipment.com/index.php?controller=news&function=details&id=2">
                  <h2 class="news-article-title">The Powdered Glove Ban: One Year Later.</h2>
                </a>
                <div class="news-article-description">
                  <p>One year ago, in December 2016, the Food and Drug Administration <a
                      href="http://raps.org/Regulat<br><a href=" index.php?controller=news&function=details&id=2">Read
                      More...</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--bodycontent-->
        <p>&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
</div>