<div class="container">
  <div class="row main-contant">
    <div class="container contant-con">
      <div class="col-lg-12">
        <h1 class="h1">What our customers say about us</h1>
        <div class="bodyinner">
          <div class="submit_quote"><a
              href="https://www.medicalshipment.com/index.php?controller=testimonials&function=add">Submit Your
              Testimonial</a></div>
          <div class="clear"></div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>North Park University in Chicago has been purchasing equipment and supplies from Medical Shipment for
                  several years. Both the Nursing Learning Resource Center and Simulation Center uses products from
                  Medical Shipment daily. Not only is the price unbeatable, Dan has always been prompt with responding
                  to calls and e-mails for service as well as shipping the orders in a very timely manner. Medical
                  Shipment has always provided quick and friendly service which I personally conceder outstanding as a
                  supplier to North Park University.</p>
                <br>
                <p><strong>Jennifer Bulinski</strong></p>
                <p><strong>Simulation Coordinator and Technician North Park University - School of Nursing</strong></p>
                <p><strong>3305 W. Foster Avenue
                    Box 65
                    Chicago, IL 60625</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Jennifer Bulinski - <a href="">Simulation Coordinator and Technician  North Park University - School of Nursing</a> - 3305 W. Foster Avenue
Box 65
Chicago, IL 60625 </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>I have found Medical Shipment to be the fastest and most competitively-priced company for quality
                  equipment and supplies in the business. Their expert sales staff never fails to go the extra mile in
                  guaranteeing customer satisfaction and support. Highest praises!</p>
                <br>
                <p><strong>Dana Rollins</strong></p>
                <p><strong>Instruction & Classroom Support Technician</strong></p>
                <p><strong>Highline Community College
                    2400 South 240th St. Bldg.26-219
                    Des Moines, WA 98198-9800
                    (206) 878-3710 ext. 3379</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Dana Rollins - <a href="">Instruction & Classroom Support Technician</a> - Highline Community College
2400 South 240th St. Bldg.26-219
Des Moines, WA 98198-9800
(206) 878-3710 ext. 3379 </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>Medical Shipment is the premier supplier for the University of St. Francis nursing labs. The customer
                  service is exceptional! The dedicated team at Medical Shipment has been an invaluable resource for our
                  simulation and skills lab needs. Dan provides excellent personalized service and is committed to
                  customer satisfaction. In today's world of fast paced transactions, the service and product that
                  Medical Shipment delivers is unmatched</p>
                <br>
                <p><strong>Amy Galetti RN, BSN</strong></p>
                <p><strong>Nursing Lab Coordinator Cecily & John LeachCollege of Nursing University of St.
                    Francis</strong></p>
                <p><strong>500 Wilcox Street
                    (211A) Motherhouse
                    Joliet, IL 60435
                    815-740-3817 office
                    815-740-4243 fax</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Amy Galetti RN, BSN - <a href="">Nursing Lab Coordinator   Cecily & John LeachCollege of Nursing University of St. Francis</a> - 500 Wilcox Street 
(211A) Motherhouse
Joliet, IL 60435
815-740-3817 office
815-740-4243 fax </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>I began to work with Medical Shipment about one year ago when I was searching for hospital beds. They
                  were able to do the fact finding and provide quality equipment at very reasonable prices. Dan followed
                  up on my shipments and kept in constant communication about the products and shipment dates. I have
                  since contacted Medical Shipment first when I need to search for equipment and supplies that are good
                  quality and competitive in cost.</p>
                <br>
                <p><strong>Deborah Jezuit PhD RN</strong></p>
                <p><strong>Director of Nursing Education</strong></p>
                <p><strong>College of Lake County</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Deborah Jezuit PhD RN - <a href="">Director of Nursing Education</a> - College of Lake County </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>Medical Shipment is committed to superior and efficient customer service. A pleasure to work with and
                  we are happy to utilize them as our premier supplier. Their prices are the best around! They go above
                  and beyond to satisfy the customer and truly care about their business relationship with their
                  clients.</p>
                <br>
                <p><strong>Amy Galetti RN, BSN</strong></p>
                <p><strong>Nursing Lab Coordinator University of St. Francis</strong></p>
                <p><strong>500 Wilcox Street
                    (211A) Motherhouse
                    Joilet, IL 60435</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Amy Galetti RN, BSN - <a href="">Nursing Lab Coordinator University of St. Francis</a> - 500 Wilcox Street 
(211A) Motherhouse 
Joilet, IL 60435 </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>We moved into a new health sciences building in the summer of 2010 with a spectacular area for our
                  nursing lab. It was somewhat overwhelming trying to make decisions about purchasing equipment for the
                  lab. I am so thankful for all the help we received from Shawn O' Donnell and Medical Shipment. They
                  were always very prompt in replying to requests and in general, to go the extra mile for whatever it
                  was we needed. When our equipment arrived, Shawn came down personally to make sure the beds and
                  stretchers were exactly what we wanted and were assembled correctly. I was really impressed by his
                  level of commitment! I would highly recommend Medical Shipment. They are wonderful to work with and
                  really put the customer's needs first.
                  Sincerely,</p>
                <br>
                <p><strong>Mary Lou Kaney, MSN, RN</strong></p>
                <p><strong>Assistant Professor, Nursing Lab Director</strong></p>
                <p><strong>St. Ambrose University Dept. of Nursing
                    Davenport, IA 52803</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Mary Lou Kaney, MSN, RN - <a href="">Assistant Professor, Nursing Lab Director</a> - St. Ambrose University Dept. of Nursing
Davenport, IA 52803 </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>The nursing lab at College of DuPage in Glen Ellyn, IL has been working with Medical Shipment LLC
                  since April of 2010. Prior to this, our organization used multiple companies when ordering supplies
                  and it was always a chore trying to find the best prices. Medical Shipment LLC promised to beat all
                  our competitor's prices and they have continually and consistently done so. They've made procuring
                  supplies a whole lot easier and have saved us money! Dan Micic of Medical Shipment LLC is a pleasure
                  to work with and always provides friendly and timely customer service. We would not hesitate to
                  recommend Dan and Medical Shipment LLC to other organizations.</p>
                <br>
                <p><strong>Donna Perchatsch, RN, BSN, CMSRNNursing Lab Assistant</strong></p>
                <p><strong>College of DuPage</strong></p>
                <p><strong>Health and Science Center
                    Glen Ellyn, Illinois 60137</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Donna Perchatsch, RN, BSN, CMSRNNursing Lab Assistant - <a href="">College of DuPage</a> - Health and Science Center
Glen Ellyn, Illinois 60137 </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>I have dealt with many medical vendors and Medical Shipment LLC, is one of the best. They were right
                  on top of my entire purchase, from beginning to end.</p>
                <br>
                <p><strong>Ed Schwartz</strong></p>
                <p><strong>Manhattan Institute</strong></p>
                <p><strong>New York, New York</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Ed Schwartz - <a href="">Manhattan Institute</a> - New York, New York </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>Medical Shipment has great prices. Shawn is very personable, easy to work with and receptive to our
                  needs. The turnaround time from getting a quote to delivery of the product is quick. Supplies and
                  equipment have always been of the best quality.</p>
                <br>
                <p><strong>Angela Satala</strong></p>
                <p><strong>Health Learning Resource Center Coordinator</strong></p>
                <p><strong>Triton College
                    River Grove, Illinois 60171</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Angela Satala - <a href="">Health Learning Resource Center Coordinator</a> - Triton College
River Grove, Illinois 60171 </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>I have known Dan and Medical Shipment for several years. Dan has always been responsive and
                  accommodating with my lab supply and equipment purchases. He does his best to price his merchandise
                  competitively and works hard to accommodate any customized requests. I really appreciate his hard
                  work!</p>
                <br>
                <p><strong>Cathy</strong></p>
                <p><strong>Nursing Lab Coordinator</strong></p>
                <p><strong>Oakton Community CollegernDes Plaines, Illinois</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Cathy - <a href="">Nursing Lab Coordinator</a> - Oakton Community CollegernDes Plaines, Illinois </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
          <div style="border-bottom:1px solid silver;">
            <div class="mw_clear" style="height:5px;"></div>
            <div class="mw_testimonial_me"> </div>
            <div class="tes_info">
              <div style="font-style:italic;margin:0.4em 0.4em;">
                <p>You are a pleasure to work with. I appreciate the fact that you are willing to work with me to get
                  the best possible prices on supplies, rnno matter if the order is large or small. I also appreciate
                  that shipments arrive in a timely fashion.</p>
                <br>
                <p><strong>Cheryl Rodgers</strong></p>
                <p><strong>South University</strong></p>
                <p><strong>Nursing Instructorrn2151 Old Brick RoadrnGlen Allen, Virginia</strong></p>
                <p></p>
              </div>
              <!--<div class="test_ref"> Cheryl Rodgers - <a href="">South University</a> - Nursing Instructorrn2151 Old Brick RoadrnGlen Allen, Virginia </div>-->
              <div class="clear"></div>
            </div>
            <div class="mw_clear" style="height:4px;"></div>
          </div>
        </div>

        <!--bodycontent-->

        <p>&nbsp;<br />
        </p>
      </div>
    </div>
  </div>
</div>
